<!DOCTYPE html>
<html>
  <head>
    <title>Antique Bottle & Glass Auctions - Dealers and Collectors | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

